/* checkbox and radio */
.ui-st-radio,
.ui-st-checkbox
  position: relative
  padding-left: 26px
  font-size: 14px
  line-height: 19px
  margin-bottom: 10px

  input
    width: 0
    height: 0
    visibility: hidden
    position: absolute
    left: 0
    top: 0

.fake-control
  position: absolute
  left: 0
  top: 1px
  width: 16px
  height: 16px
  background-color: #fff
  transition: background-color $transDefault, border-color $transDefault
  border: 1px solid #9A9A9A
  border-radius: 2px

.ui-st-radio
  .fake-control
    border-radius: 50%

    &::before
      content: ''
      position: absolute
      left: 2px
      top: 2px
      width: 10px
      height: 10px
      background-color: #DADADA
      border-radius: 50%
      transition: transform $transDefault, background-color $transDefault

  input:checked ~ .fake-control
    &::before
      background-color: $colorDark

.ui-st-checkbox
  user-select: none

  .fake-control
    width: 18px
    height: 18px
    top: 0
    cursor: pointer

  input:checked ~ .fake-control
    background-image: url('../img/check.svg')
    background-repeat: no-repeat
    background-position: 50% 50%
    background-size: 75% 75%

.card-color-btn,
.card-size-btn
  position: relative

  input
    width: 0
    height: 0
    visibility: hidden
    position: absolute
    left: 0
    top: 0

.card-colors-btns,
.card-sizes-btns
  display: flex
  align-items: center

.card-color-btn,
.card-size-btn
  margin-right: 15px
  cursor: pointer

.fake-radio-color
  display: block
  width: 22px
  height: 22px
  border-color: 1px solid transparent
  border-radius: 50%
  transition: box-shadow .2s

  &:last-child
    margin-right: 0

.card-color-btn
  input:checked ~ .fake-radio-color
    box-shadow: inset 0 0 0 1px #fff, 0 0 0 1px #444

.fake-radio-size
  text-align: center
  font-weight: 600
  font-size: 16px
  line-height: 22px
  transition: color .2s

  &:hover
    color: rgba($colorDark, .55)

.card-size-btn
  input:checked ~ .fake-radio-size
    color: $colorGold

.switch-radio
  display: flex
  align-items: center

  span
    margin-right: 16px
    font-size: 14px
    line-height: 17px
    cursor: pointer

  label
    margin-right: 16px

  .switch-radio-fake
    margin-right: 0

  label
    position: relative

  input
    width: 0
    height: 0
    visibility: hidden
    position: absolute
    left: 0
    top: 0

  input:checked ~ .switch-radio-fake
    &::before
      left: calc(100% - 20px)

.switch-radio-fake
  display: inline-block
  vertical-align: top
  position: relative
  width: 40px
  height: 21px
  border-radius: 11px
  background-color: $colorDark
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1)
  cursor: pointer

  &::before
    content: ''
    position: absolute
    left: 1px
    top: 1px
    width: 19px
    height: 19px
    z-index: 2
    border-radius: 50%
    background-color: #fff
    transition: left .2s

.st-modal .ui-st-checkbox._dark,
.ui-st-checkbox._dark
  color: #000

  .fake-control
    border-color: #000

/* Min width $lg */
@media only screen and (min-width: $lg)
  .card-color-btn,
  .card-size-btn
    margin-right: 23px

  .fake-radio-color
    width: 28px
    height: 28px

  .fake-radio-size
    font-size: 18px
    line-height: 24px

  .switch-radio
    span
      font-size: 18px
      line-height: 22px

    input:checked ~ .switch-radio-fake
      &::before
        background-color: #fff
        left: calc(100% - 24px)

  .switch-radio-fake
    width: 48px
    height: 26px
    border-radius: 13px

    &::before
      width: 22px
      top: 2px
      left: 2px
      height: 22px

  .ui-st-checkbox
    line-height: 23px
    padding-left: 36px

    .fake-control
      width: 23px
      height: 23px
/* end media min width $lg */










