/* checkbox and radio */
.ui-st-radio,
.ui-st-checkbox
  position: relative
  padding-left: 26px
  font-size: 14px
  line-height: 19px
  margin-bottom: 10px

  input
    width: 0
    height: 0
    visibility: hidden
    position: absolute
    left: 0
    top: 0

.fake-control
  position: absolute
  left: 0
  top: 1px
  width: 16px
  height: 16px
  background-color: #fff
  transition: background-color $transDefault, border-color $transDefault
  border: 1px solid #9A9A9A

.ui-st-radio
  .fake-control
    border-radius: 50%

    &::before
      content: ''
      position: absolute
      left: 2px
      top: 2px
      width: 10px
      height: 10px
      background-color: #DADADA
      border-radius: 50%
      transition: transform $transDefault, background-color $transDefault

  input:checked ~ .fake-control
    &::before
      background-color: $colorDark

.ui-st-checkbox
  input:checked ~ .fake-control
    background-color: $second-color
    // background-image: url('../img/check.svg')
    background-repeat: no-repeat
    background-position: 50% 50%
    background-size: 75% 75%











