/* Min width $lg */
@media only screen and (min-width: $lg)
  .sticky-wrapp
    // padding-top: 60px
    transition: padding .2s
    padding-bottom: 60px

    &.sticky
      position: fixed
      z-index: 10
      top: 0
      padding-top: 60px
      padding-bottom: 0

    &.stop
      position: relative

  // .spec-offer-head-page
  //   .sticky-wrapp
  //     padding-top: 90px
/* end media min width $lg */